//TODO: interim file -- update for actual release
#include <windows.h> // include for version info constants

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "vecxis.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", ""
			 VALUE "FileVersion", "1.0"
			 VALUE "FileDescription", "Vecxis"
			 VALUE "InternalName", "vecxis.exe"
			 VALUE "LegalCopyright", "id Software, Forest Hale, and contributors"
			 VALUE "LegalTrademarks", "Vecxis is a Trademark of Micah Talkiewicz."
			 VALUE "OriginalFilename", "vecxis.exe"
			 VALUE "ProductName", "Vecxis"
			 VALUE "ProductVersion", "1.0"
		 }
	 }
}
